/***********************
* extends
*/
.header-nav, h1,
h2,
h3, button {
  font-family: 'Raleway', sans-serif;
  color: white; }

* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: clamp(0.75rem, 87.5vw, 1rem); }

body {
  font-family: 'Open Sans', sans-serif;
  color: #d6d6d6;
  background-color: #181f2a; }

.wrapper {
  display: grid;
  grid-template-columns: [margin-start] minmax(1.42857rem, 5vw) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(1.42857rem, 5vw) [margin-end];
  grid-gap: 7.14286rem 0; }

a {
  color: #d6d6d6;
  text-decoration-line: none; }

button {
  outline: none;
  border: 0;
  border-radius: 1.78571rem;
  padding: 1.07143rem 5rem;
  font-weight: 700;
  cursor: pointer;
  background: linear-gradient(90deg, #65e2d9 22%, #339ecc 100%); }

header {
  grid-column: center-start / center-end; }

/***********************************
* Nav section
*/
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.57143rem 0; }
  .header-nav__logo {
    width: clamp(10vw, 25vw, 6.42857rem); }
  .header-nav__items-box > :nth-last-child(2) {
    margin: 0 1.78571rem; }

/************************************
* Hero section
*/
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .hero__img {
    width: clamp(35vw, 100%, 35.71429rem); }
  .hero__heading {
    max-width: 42.85714rem;
    margin: 1.78571rem 0;
    line-height: 3rem; }
  .hero__subheading {
    max-width: 30.71429rem;
    margin-bottom: 2rem; }

.features {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(27.14286rem, 1fr));
  grid-gap: 5.71429rem 1.42857rem;
  justify-self: center;
  grid-column: center-start / center-end; }
  .features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2.14286rem; }
  .features__heading {
    margin: 1.42857rem 0 0.35714rem 0; }
  .features__img {
    width: 5rem; }

.stay-productive-img {
  width: 100%;
  grid-column: center-start / col-end 4; }

.stay-productive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: col-start 5 / center-end;
  max-width: 35.71429rem;
  margin-left: 4vw; }
  .stay-productive__heading {
    padding-right: 17.85714rem; }
  .stay-productive__sub-heading1 {
    margin: 1.78571rem 0 0.71429rem 0; }
  .stay-productive__sub-heading2 {
    margin: 0.71429rem 0 1.57143rem 0; }
  .stay-productive__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 10.57143rem;
    padding-bottom: 0.21429rem; }
    .stay-productive__link > img {
      width: 1rem;
      height: 1rem; }
    .stay-productive__link:hover {
      border-bottom: 0.07143rem solid white; }

.review {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column: center-start / center-end;
  grid-gap: 0 2vw; }
  .review__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 27.14286rem;
    padding: 2.85714rem 2.5rem 2rem 2rem;
    border-radius: 0.35714rem;
    background-color: #202a3c; }
  .review__img {
    width: 2rem;
    height: 2rem;
    margin-top: 2rem;
    border-radius: 50%; }
  .review__profile {
    margin: 2rem 0 0 0.57143rem; }
  .review__name {
    color: white; }
  .review__title {
    font-weight: 400; }
