@media screen and (max-width: 59.125em) {
    html {
        font-size: 0.6875rem; // 11px
    }
    .wrapper {
        grid-template-columns: [margin-start] rem(20) [center-start] repeat(12, [col-start] 1fr [col-end])
                           [center-end] rem(20) [margin-end];
    }

    .stay-productive-img,
     .stay-productive,
      .sign-up {
        grid-column: center-start / center-end;
    }

    .stay-productive {
        margin-left: 0;

        &__heading {
            padding: 0;
        }
    }

    .review {
        justify-content: center;

        > *:not(:nth-child(2)) {
            margin: 4vh 0 0 0;
        }

        &__bg-quotes-img {
            transform: translate(-486%, -210%);
            width: rem(30);
        }
    }

    .sign-up {
        &__btn {
            margin: rem(22) 0 0 0;
            padding: 5% 21.5%;
        }
        
        &__input {
            padding: 5% 15%;
        }
    }

    .footer-wrapper {
        flex-flow: column wrap;
        
        > :not(:last-child) {
            margin-bottom: rem(50);
        }
    }
}