.review {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
    grid-column: center-start / center-end;
    grid-gap: 0 2vw;

    &__item {
        display: flex;
        flex-wrap: wrap;
        max-width: rem(380);
        padding: rem(40) rem(35) rem(28) rem(28);
        border-radius: rem(5);
        background-color: $color-primary-4;
    }

    &__img {
        width: rem(28);
        height: rem(28);
        margin-top: rem(28);
        border-radius: 50%;
    }

    &__profile {
        margin: rem(28) 0 0 rem(8); // adds margin to top and bottom between
                                    // review__text and review__profile
    }

    &__name {
        color: $color-neutral-1;
    }

    &__title {
        font-weight: 400;
    }
}