$color-primary-1: hsl(217, 28%, 15%);  // (intro and email sign up background)
$color-primary-2: hsl(218, 28%, 13%);  // (main background)
$color-primary-3: hsl(216, 53%, 9%);   // (footer background)
$color-primary-4: hsl(219, 30%, 18%);  // (testimonials background)

$color-secondary-1: hsl(176, 68%, 64%);  // (inside call-to-action gradient)
$color-secondary-2: hsl(198, 60%, 50%);  // (inside call-to-action gradient)
$color-secondary-3: hsl(0, 100%, 63%);  // (error)

$color-neutral-1: hsl(0, 0%, 100%);
$color-neutral-2: hsl(0, 0%, 84%);